/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        bracketc {
            bindings = <&brackets>;
            key-positions = <24 35>;
            layers = <0>;
        };
    };

    macros {
        brackets: brackets {
            compatible = "zmk,behavior-macro";
            label = "BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
        };

        vscodeterm: vscodeterm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt ESCAPE &kp GRAVE &kt ESC>;
            label = "VSCODETERM";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB      |  Q  |  W  |  E  |  R       |  T  |   |  Y  |  U       |  I  |  O  |  P  | BKSP |
            // | CTRL      |  A  |  S  |  D  |  SHFT F  |  G  |   |  H  | SHFT J   |  K  |  L  |  ;  |  '   |
            // | SHFT LPAR |  Z  |  X  |  C  |  V       |  B  |   |  N  |  M       |  ,  |  .  |  /  | ESC RPAR |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R  &kp T             &kp Y      &kp U    &kp I          &kp O    &kp P     &mo 2
&kp LEFT_SHIFT  &kp A  &kp S  &kp D     &kp F  &kp G             &kp H      &kp J    &kp K          &kp L    &kp SEMI  &mt RIGHT_PARENTHESIS ESCAPE
&mt LCTRL LPAR  &kp Z  &kp X  &kp C     &kp V  &kp B             &kp N      &kp M    &kp COMMA      &kp DOT  &kp FSLH  &kp SQT
                              &kp LGUI  &mo 1  &mt RALT SPACE    &kp SPACE  &kp RET  &kp BACKSPACE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     | LFT | DWN |  UP | RGT |      |     
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     | CAPS |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans          &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT       &kp CARET       &kp AMPERSAND   &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BSPC
&kp LEFT_SHIFT  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5      &kp NUMBER_6    &kp N7          &kp N8         &kp N9                &kp NUMBER_0           &trans
&trans          &kp LC(A)     &trans        &trans        &kp LC(V)     &kp LC(C)         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT             &trans                 &kp CAPS
                                            &tog 3        &trans        &mt RALT SPACE    &kp SPACE       &kp RET         &kp BACKSPACE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL |
            // | CTRL |     |     |     |     | F5  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL   &kp AT          &kp HASH          &kp DLLR           &kp PRCNT         &kp CARET    &kp AMPS   &kp ASTERISK   &kp LPAR  &kp RPAR  &trans
&kp LCTRL  &kp PLUS   &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp F5            &kp MINUS    &kp EQUAL  &kp LBKT       &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &kp MINUS  &kp UNDERSCORE  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp EQUAL         &kp UNDER    &kp PLUS   &kp LBRC       &kp RBRC  &kp PIPE  &kp TILDE
                                      &kp LGUI          &trans             &mt RALT SPACE    &vscodeterm  &kp RET    &kp BACKSPACE
            >;
        };

        system {
            bindings = <
&none       &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                        &to 0         &none         &none           &none  &none  &none
            >;
        };
    };
};
