/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        brackets: brackets {
            compatible = "zmk,behavior-macro";
            label = "BRACKETS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
        };

        vscodeterm: vscodeterm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt ESCAPE &kp GRAVE &kt ESC>;
            label = "VSCODETERM";
        };

        backspace_layer0: backspace_layer0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE &to 0>;
            label = "BACKSPACE_LAYER0";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB      |  Q  |  W  |  E  |  R       |  T  |   |  Y  |  U       |  I  |  O  |  P  | BKSP |
            // | CTRL      |  A  |  S  |  D  |  SHFT F  |  G  |   |  H  | SHFT J   |  K  |  L  |  ;  |  '   |
            // | SHFT LPAR |  Z  |  X  |  C  |  V       |  B  |   |  N  |  M       |  ,  |  .  |  /  | ESC RPAR |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB         &kp Q  &kp W  &kp E  &kp R  &kp T            &kp Y      &kp U    &kp I      &kp O    &kp P     &kp LEFT_GUI
&sk LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F  &kp G            &kp H      &kp J    &kp K      &kp L    &kp SEMI  &kp SQT
&mt LCTRL LPAR  &kp Z  &kp X  &kp C  &kp V  &kp B            &kp N      &kp M    &kp COMMA  &kp DOT  &kp FSLH  &mt ESCAPE RIGHT_PARENTHESIS
                              &sl 2  &to 1  &kp BACKSPACE    &kp SPACE  &kp RET  &to 0
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     | LFT | DWN |  UP | RGT |      |     
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     | CAPS |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&sk LEFT_COMMAND  &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PERCENT          &kp CARET       &kp AMPERSAND   &kp ASTRK     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL
&sk LEFT_SHIFT    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5         &kp NUMBER_6    &kp N7          &kp N8        &kp N9                &kp NUMBER_0           &trans
&sk LCTRL         &kp LC(Z)     &trans        &kp LC(C)     &kp LC(V)     &none                &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT             &trans                 &kp CAPS
                                              &tog 3        &trans        &backspace_layer0    &to 0           &kp RET         &to 0
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | DEL |
            // | CTRL |     |     |     |     | F5  |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp F1     &kp F2          &kp F3        &kp F4   &kp F5               &kp F6             &kp F7     &kp F8    &kp F9    &kp MINUS  &kp EQUAL
&sk LEFT_SHIFT  &kp F10    &kp F11         &kp F12       &none    &kp LEFT_BRACKET     &kp RIGHT_BRACKET  &kp UNDER  &kp LBKT  &kp RBKT  &kp BSLH   &kp GRAVE
&sk LCTRL       &kp MINUS  &kp UNDERSCORE  &kp HOME      &kp END  &kp LEFT_BRACE       &kp RIGHT_BRACE    &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE   &kp TILDE
                                           &kp LEFT_ALT  &trans   &backspace_layer0    &to 0              &kp GRAVE  &to 0
            >;
        };

        system {
            bindings = <
&none       &none         &none         &none         &none           &none           &none           &none           &none         &none      &none  &none
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &none  &none
&none       &none         &none         &none         &none           &none           &none           &none           &none         &none      &none  &soft_off
                                        &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL       &to 0           &none           &to 0
            >;
        };
    };
};
